@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #FFF7EF;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

#oben {
    justify-content: center;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

#logo_bild {
    width: 50px;
    height: 50px;
    background-color: #FB8C29;
    border-radius: 5px;
    overflow: hidden;
}

#logo_bild2 {
    background-color: #343434;
    width: 100%;
    height: 30%;    
}

#logo_bild_text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFF7EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_Text a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30PX;
    text-decoration: none;
    color: #343434;
}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
}


#nav ul li a{
    padding-left: 20px;
    padding-right: 20px;
    color: #454545;
    text-decoration: none;
}

#nav ul li a:hover {
    cursor: pointer;
    font-weight: bold;
    color: #FB8C29;
}

#slider {
    background-image: url("https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    align-items: center;    
    width: 100%;
    /*max-width: 1200px;*/
    height: 300px;
    background-position: center;
    
}

#mitte {
    background-color:  #343434;
    color: #FFF7EF;
    padding-top: 1px;
    padding-bottom: 500px;
    padding-left: 10%;
    padding-right: 10%;
    
}

#mitte h1,h2,h3,h4 {
    color: #FB8C29;
}

#mitte ul {
    display: flex;
    justify-content: left;
    list-style: none;
    padding-left: 0px;
}

#mitte ul li img {
    width: 80px;
    height: auto;
    border-radius: 100%;
    display: block;
}

#mitte ul li p {
    margin-left: 10px;
}

#mitte div iframe{
    padding-bottom: 15px;
}

#unten {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #FB8C29;
}

#unten p {
    text-align: center;
    margin-bottom: 0;
}

#social_contend {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#social_contend a {
    margin: 10px;
    text-decoration: none;
}

#social_em {
    background: #343434;
    color: #FB8C29;
    font-weight: bold;
    padding: 7px;
    border-radius: 7px;
}

#social_em:hover {
    cursor: pointer;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.4), 0 5px 4px rgba(0, 0, 0, 0.22);
    transform: translate(0, -4px);
}

#footer {
    text-align: center;
    color: #343434;
    padding: 24px;
}

#footer p {
    margin-bottom:4px;
}

#version_titel{
    font-size: 12px;
    color: #454545;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 24px;
}

#version_titel:hover {
    cursor: default;
    color: #FFF7EF;
}



* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #FEE8D4;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
